brotlipy==0.7.0
certifi==2020.4.5.1
cffi==1.14.0
click==7.1.2
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1588897734495/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1588718481532/work
dash-html-components==1.0.3
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1588706167484/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1588867552135/work
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1588605093274/work
pandas==1.0.3
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1588944647494/work
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
retrying==1.3.3
simpy==4.0.1
six==1.14.0
Werkzeug==1.0.1
